{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="theme-loader">
  <div class="loader-track">
    <div class="preloader-wrapper">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form
          id="create-dev"
          method="POST"
          action="{% url 'account_signup' %}"
          class="md-float-material form-material"
          validate
        >
          {% csrf_token %}
          <div class="text-center">
            <img src="{% static 'images/logo.png' %}" alt="logo.png" />
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign Up</h3>
                </div>
              </div>
              <div class="row m-b-20">
                <div class="col-md-6">
                  <a
                    href="#!"
                    class="btn btn-facebook m-b-20 btn-block waves-effect waves-light"
                    ><i class="icofont icofont-social-facebook"></i
                    >facebook</a
                  >
                </div>
                <div class="col-md-6">
                  <a
                    href="#!"
                    class="btn btn-twitter m-b-0 btn-block waves-effect waves-light"
                    ><i class="icofont icofont-social-twitter"></i
                    >twitter</a
                  >
                </div>
              </div>
              <p class="text-muted text-center p-b-5">
                Sign up your regular account
              </p>
              
              <div class="form-group form-primary">
                {{form.as_p}}
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
                    <label>
                      <input required type="checkbox" name="agree" />
                      <span class="cr"
                        ><i
                          class="cr-icon icofont icofont-ui-check txt-primary"
                        ></i
                      ></span>
                      <span class="text-inverse"
                        >I read and accept
                        <a href="#">Terms &amp; Conditions.</a></span
                      >
                    </label>
                  </div>
                  <div class="checkbox-fade fade-in-primary float-right">
                    Have an account? <a class="button secondaryAction" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                  >
                    Sign up now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
