{% load static %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script
      type="text/javascript"
      src="{% static 'vendors/js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/jquery-ui.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/popper.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/bootstrap.min.js' %}"
    ></script>

    <script
      src="{% static 'vendors/js/waves.min.js' %}"
      type="text/javascript"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'vendors/js/jquery.slimscroll.js' %}"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'vendors/js/modernizr.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/css-scrollbars.js' %}"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'vendors/js/custom-prism.js' %}"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'vendors/js/i18next.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/i18nextxhrbackend.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/i18nextbrowserlanguagedetector.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendors/js/jquery-i18next.min.js' %}"
    ></script>
    <script
      src="{% static 'vendors/js/pcoded.min.js' %}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'vendors/js/horizontal-layout.min.js' %}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'vendors/js/jquery.mcustomscrollbar.concat.min.js' %}"
      type="text/javascript"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'vendors/js/script.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'vendors/js/form-validation.js' %}"></script>
    <script
      src="{% static 'vendors/js/validate.js' %}"
      type="text/javascript"
    ></script>
    <script type="text/javascript" src="{% static 'vendors/js/switchery.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'vendors/js/swithces.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'vendors/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors/js/bootstrap-multiselect.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'vendors/js/jquery.multi-select.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'vendors/js/select2-custom.js' %}"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
      type="text/javascript"
    ></script>
    
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script
      src="{% static 'vendors/js/rocket-loader.min.js' %}"
      data-cf-settings="42aef7bbc68a3cc7593721e5-|49"
      defer=""
    ></script>
    <script>
      // Skills Tag
      $("#skills-tag").select2({
        maximumSelectionLength: 10,
      });
    </script>
    {% block custom_js %}
    {% endblock custom_js %}