{% load static %}
<script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/jquery.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/jquery-ui.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/popper.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/bootstrap.min.js' %}"
    ></script>

    <script
      src="{% static 'vendors/js/waves.min.js' %}"
      type="42aef7bbc68a3cc7593721e5-text/javascript"
    ></script>

    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/jquery.slimscroll.js' %}"
    ></script>

    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/modernizr.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/css-scrollbars.js' %}"
    ></script>

    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/custom-prism.js' %}"
    ></script>

    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/i18next.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/i18nextxhrbackend.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/i18nextbrowserlanguagedetector.min.js' %}"
    ></script>
    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/jquery-i18next.min.js' %}"
    ></script>
    <script
      src="{% static 'vendors/js/pcoded.min.js' %}"
      type="42aef7bbc68a3cc7593721e5-text/javascript"
    ></script>
    <script
      src="{% static 'vendors/js/horizontal-layout.min.js' %}"
      type="42aef7bbc68a3cc7593721e5-text/javascript"
    ></script>
    <script
      src="{% static 'vendors/js/jquery.mcustomscrollbar.concat.min.js' %}"
      type="42aef7bbc68a3cc7593721e5-text/javascript"
    ></script>

    <script
      type="42aef7bbc68a3cc7593721e5-text/javascript"
      src="{% static 'vendors/js/script.js' %}"
    ></script>
    <script type="9fef68816305b81b29a5d613-text/javascript" src="{% static 'vendors/js/form-validation.js' %}"></script>
    <script
      src="{% static 'vendors/js/validate.js' %}"
      type="9fef68816305b81b29a5d613-text/javascript"
    ></script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
      type="42aef7bbc68a3cc7593721e5-text/javascript"
    ></script>
    
    <script type="42aef7bbc68a3cc7593721e5-text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <script
      src="{% static 'vendors/js/rocket-loader.min.js' %}"
      data-cf-settings="42aef7bbc68a3cc7593721e5-|49"
      defer=""
    ></script>
    <!-- <script>
      var date = new Date();
      document.getElementById("current_year_home").innerHTML = date.getFullYear();
    </script> -->