{% extends 'layouts/base.html' %} {% block content %} {% block custom_css %}
<style>
  #avatar {
    border-radius: 50%;
  }
  .pcoded-container .navbar-wrapper {
    background-color: #fff;
  }
  .username-container {
    margin-left: 30px;
  }
  #profile-settings {
    font-weight: bold;
    font-size: large;
  }
  
  @media only screen and (max-width: 768px) {
    .pcoded-content {
        margin-top: 45px;
    }
    .image-container {
        justify-content: center;
        margin-left: 50px;
    }
    .username-container{
        margin-top: 20px;
        text-align: center;
    }
    .profile-settings {
        margin-top: 20px;
    }
    #profile-settings {
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 575px){
    .pcoded-content {
        margin-top: 40px;
    }
    .image-container {
        justify-content: center;
        margin-left: 50px;
    }
    .username-container{
        margin-top: 20px;
        text-align: center;
    }
    .profile-settings {
        margin-top: 20px;
    }
    #profile-settings {
        font-size: 12px;
    }
  }
  /* .profile-container {
      height: 120px;
  } */
  .mt-3 {
      margin-top: -50px;
  }
</style>
{% endblock custom_css %}
<div class="pcoded-content">
  <!-- <div class="pcoded-inner-content"> -->
  {% include 'layouts/messages.html' %}
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <div class="col-lg-12 col-xl-12 profile-container">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="float-left">
                      <div class="container">
                        <div class="image-container float-left">
                          <img
                            src="{{request.user.profile_image.url}}"
                            alt="Avatar"
                            width="120"
                            height="120"
                            id="avatar"
                          />
                        </div>
                        <div class="username-container float-left">
                          <h4 id="username">{{request.user.get_username}}</h4>
                          <p>
                            <i class="fa fa-map-marker"></i> Dar Es Salaam,
                            Tanzania – 2:42am local time
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="float-right">
                      <a href="{% url 'settings' %}">
                        <button class="btn btn-success profile-settings">
                          <span id="profile-settings">Profile Settings</span>
                        </button>
                      </a>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="row" style="width: 100%">
                      <div class="col-md-12">
                        <div class="card"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body mt-3">
            <div class="row">
              <div class="col-lg-12 col-xl-12">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                          <div class="col-lg-4">
                            <div class="card version">
                                <div class="card-block">
                                  <ul class="nav navigation">
                                    <li class="navigation-header">
                                        <i class="icon-history pull-right"></i>
                                        <b><h5>Video Introduction <i class="fa fa-plus-circle"></i></h5></b>
                                    </li>
                                    <li class="navigation-header">
                                        <i class="icon-history pull-right"></i>
                                        <b><h5>Available <i class="fa fa-clock-o"></i></h5></b>
                                    </li>
                                    <li class="navigation-header">
                                        <i class="icon-history pull-right"></i>
                                        <b><h5>Education <i class="fa fa-graduation-cap"></i></h5></b>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                          </div>
                          <div class="col-lg-8">
                              
                          </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- <div id="styleSelector"></div> -->
  <!-- </div> -->
</div>
{% endblock content %}
