{% extends 'layouts/base.html' %} {% load humanize %} {% load static %} {% block content %} 
{% block custom_css %}
<style>
  .text-center {
    text-align: center;
  }
  #avatar {
    border-radius: 50%;
  }
  .pcoded-container .navbar-wrapper {
    background-color: #fff;
  }
  .username-container {
    margin-left: 30px;
  }
  #profile-settings {
    font-weight: bold;
    font-size: large;
  }

  @media only screen and (max-width: 768px) {
    .pcoded-content {
      margin-top: 45px;
    }
    .image-container {
      justify-content: center;
      margin-left: 50px;
    }
    .username-container {
      margin-top: 20px;
      text-align: center;
    }
    .profile-settings {
      margin-top: 20px;
    }
    #profile-settings {
      font-size: 12px;
    }
    .ti-briefcase, .icon-graduation {
      margin-left: -30%;
      font-size: 70px;
      color: #1D4354;
    }
  }
  @media only screen and (max-width: 640px){
    .username-container {
      margin-top: 20px;
      text-align: center;
    }
    .image-container {
      justify-content: center;
      margin-left: 20px;
    }
    #avatar {
      margin-left: 20px;
    }
  }
  @media only screen and (max-width: 575px) {
    .pcoded-content {
      margin-top: 40px;
    }
    .image-container {
      justify-content: center;
      margin-left: 60px;
    }
    .username-container {
      margin-top: 20px;
      margin-left: -20px;
      text-align: center;
    }
    .profile-settings {
      margin-top: 20px;
    }
    #profile-settings {
      font-size: 12px;
    }
    #bag, #graduation {
      margin-left: 40%;
      font-size: 70px;
      color: #1D4354;
    }
  }
  /* .profile-container {
      height: 120px;
  } */
  .mt-3 {
    margin-top: -50px;
  }
  .btn-circle {
    border-radius: 50%;
  }
  .ml-border,
  .mb-border {
    border: 0.5px solid rgb(214, 209, 209);
  }
  .up-line-clamp-v2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
  }
  .up-line-clamp-v2-wrapper {
    /* position: relative; */
    line-height: 1.42em;
  }
  .text-pre-line {
    white-space: pre-line !important;
  }
  .break {
    overflow-wrap: break-word;
    word-break: break-word;
  }
  #more {
    display: none;
  }
  #skills-modal:hover {
    cursor: default;
  }
  /* .icon-container {
    border: 1px solid black;
    background-color: #1D4354;
    border-radius: 50%;
    margin-left: 45%;
  } */
  .ti-briefcase, .icon-graduation {
    margin-left: 45%;
    font-size: 120px;
    color: #1D4354;
  }
</style>
{% endblock custom_css %}
<div class="pcoded-content">
  <!-- <div class="pcoded-inner-content"> -->
    <div class="pcoded-inner-content">
      <div class="main-body">
      {% include 'layouts/messages.html' %}
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <div class="col-lg-12 col-xl-12 profile-container">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="float-left">
                      <div class="container">
                        <div class="image-container float-left">
                          {% if request.user.profile_image %}
                          <img
                            src="{{request.user.profile_image.url}}"
                            alt="Avatar"
                            width="120"
                            height="120"
                            id="avatar"
                          />
                          {% else %}
                          <img
                            src="{% static 'images/user.png' %}"
                            alt="Avatar"
                            width="120"
                            height="120"
                            id="avatar"
                          />
                          {% endif %}
                        </div>
                        <div class="username-container float-left">
                          <h4 id="username">@{{request.user.username}}</h4>
                          <p>
                            <i class="fa fa-map-marker"></i> Dar Es Salaam,
                            Tanzania – 2:42am local time
                          </p>
                          {% if not request.user.publicpreference.both_emails %}
                          <label><i class="ti-email"></i> <a href="mailto:{{request.user.email}}">{{request.user.email}}</a></label>
                          {% else %}
                          {% for email in request.user.emailaddress_set.all %}
                          <label class="mr-2"><i class="ti-email"></i> <a href="mailto:{{email}}">{{email}}</a></label>
                          {% endfor %}
                          {% endif %}
                          {% if request.user.publicpreference.hireable %}
                          <label class="label ml-3 label-info" title="@{{request.user.username}} is open for work">HIREABLE</label>
                          {% endif %}
                          {% if request.user.publicpreference.gender %}
                          <p><i class="fa fa-transgender"></i> {{request.user.get_gender_display}}</p>
                          {% endif %}
                          <label><i class="fa fa-phone"></i> <a href="callto:{{request.user.phone}}">{{request.user.phone}}</a></label>
                        </div>
                      </div>
                    </div>
                    <div class="float-right">
                      <a href="{% url 'settings' %}">
                        <button class="btn btn-success profile-settings">
                          <span id="profile-settings">Profile Settings</span>
                        </button>
                      </a>
                    </div>
                  </div>
                  <div class="card-block">
                    <div class="row" style="width: 100%">
                      <div class="col-md-12">
                        <div class="card"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-body mt-3">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-lg-4">
                        <section class="up-card-section">
                          <div class="cfe-ui-profile-video-intro mt-10 mb-3">
                            <div class="d-flex">
                              <h4
                                role="presentation"
                                aria-level="2"
                                class="d-flex align-items-center mb-0"
                              >
                                <h5>Video introduction</h5>
                              </h4>
                              <button
                                class="btn btn-default btn-sm btn-circle vertical-align-middle"
                              >
                                <i
                                  style="font-size: larger"
                                  class="fa fa-plus-circle"
                                ></i>
                              </button>
                            </div>
                            <!---->
                          </div>
                          <!---->
                          <div class="mt-3 mb-3">
                            <div class="mb-1">
                              <h4
                                role="presentation"
                                aria-level="2"
                                class="d-inline-block vertical-align-middle mb-0"
                              >
                                Availability
                              </h4>
                              <button
                                class="d-inline-block ml-1 btn btn-sm btn-circle btn-default vertical-align-middle"
                              >
                                <div class="up-icon">
                                  <i
                                    style="font-size: larger"
                                    class="fa fa-pencil"
                                  ></i>
                                </div>
                              </button>
                            </div>
                            <p class="mb-0">
                              {% if request.user.availability.available %}
                              <button disabled class="btn btn-sm btn-success"><strong class="d-block">OPEN</strong></button>
                              <span>{{ request.user.availability.get_days_available_display }}</span>
                              {% endif %}
                            </p>
                          </div>
                          <div class="mt-3 mb-3">
                            <div class="mb-1">
                              <h4
                                role="presentation"
                                aria-level="2"
                                class="d-inline-block vertical-align-middle mb-0"
                              >
                                Languages
                                <i class="fa fa-plus-circle mr-2"></i>
                                <i class="fa fa-pencil"></i>
                              </h4>
                            </div>
                            <ul class="list-unstyled">
                              {% for lang in request.user.language_set.all %}
                              <li>
                                <div>
                                  <strong
                                    class="d-inline-block vertical-align-middle"
                                    >{{lang.language_name.title}}:&nbsp;</strong
                                  ><span
                                    class="d-inline-block vertical-align-middle text-muted"
                                    >{{lang.level.title}}</span
                                  >
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="mt-3">
                            <div class="mb-1">
                              <h4
                                role="presentation"
                                aria-level="2"
                                class="d-inline-block vertical-align-middle mb-0"
                              >
                                Education <i class="fa fa-plus-circle"></i>
                              </h4>
                            </div>
                            <ul class="list-unstyled">
                              {% for education in request.user.education_set.all %}
                              <li class="d-flex mb-2">
                                <div>
                                  <h5 role="presentation" class="mb-0">
                                    {{education.institute_name.title}}
                                    <i class="fa fa-pencil ml-2 mr-2"></i>
                                    <i class="fa fa-trash ml-1"></i>
                                  </h5>
                                  <div>
                                    {{education.degree.title}}
                                  </div>
                                  <div class="text-muted">
                                    {{education.date_from}}-{{education.date_to}}
                                  </div>
                                </div>
                                <div class="d-flex">
                                </div>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </section>
                      </div>
                      <div
                        style="border-left: 1px solid rgb(207, 207, 207)"
                        class="col-lg-8"
                      >
                        <section class="ml-brder mb-brder">
                          <div class="title">
                            <div class="">
                              <h3>
                                {{request.user.title|safe}}
                                <i class="fa fa-pencil ml-3"></i>
                              </h3>
                            </div>
                            <div class="">
                              <h4>
                                TZS {{request.user.pay_rate|intcomma}}/hr
                                <i class="fa fa-pencil ml-3"></i>
                              </h4>
                            </div>
                          </div>
                          <div>
                            <p>
                              {{request.user.bio|safe|slice:':230'}}<span
                                id="dots"
                                >...</span
                              ><span id="more"
                                >{{request.user.bio|safe|slice:'231:'}}</span
                              >
                              <a
                                href="javascript:void"
                                onclick="myFunction()"
                                id="myBtn"
                                ><u>more</u></a
                              >
                            </p>
                          </div>
                          <div class="mt-3">
                            <h4>
                              Skills
                              <i
                                data-toggle="modal"
                                data-target="#skills-modal"
                                class="fa fa-pencil ml-3"
                              ></i>
                            </h4>
                            <div class="card-block button-list">
                              {% for skill in request.user.devskillset.skill_sets.all %}
                              <button
                              style="
                                background-color: rgb(204, 201, 200);
                                border: none;
                                color: black;
                              "
                              type="button"
                              class="btn btn-primary btn-sm waves-effect waves-light"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="{{skill.description|safe|slice:':100'}}"
                              data-original-title="{{skill.description|safe}}"
                            >
                              {{skill.name}}
                            </button>
                              {% endfor %}
                              
                            </div>
                            <!-- Skills Modal -->
                            <div
                              class="modal fade"
                              id="skills-modal"
                              tabindex="-1"
                              role="dialog"
                              aria-labelledby="modalLabel"
                              aria-hidden="true"
                            >
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">My Skills</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                    </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <div class="form-material">
                                          <div class="right-icon-control">
                                            <form
                                              method="POST"
                                              class="form-material"
                                              action=""
                                            >
                                              {% csrf_token %}
                                              <div
                                                class="form-group form-primary"
                                              >
                                                <!-- Skill sets -->
                                                <select style="width: 100%;color: black;" class="js-example-diacritics skills-tag" multiple="multiple">
                                                  {% for skill in skill_sets %}
                                                  {% if skill in request.user.devskillset.skill_sets.all %}
                                                  <option selected value="{{skill.id}}">{{skill}}</option>
                                                  {% else %}
                                                  <option value="{{skill.id}}">{{skill}}</option>
                                                  {% endif %}
                                                  {% endfor %}
                                                </select>
                                                <p> Remove skills by deleting tags.</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button
                                                  type="submit"
                                                  class="save_btn btn btn-primary"
                                                >
                                                  Save
                                                </button>
                                                <button
                                                  type="button"
                                                  class="btn btn-default close_btn"
                                                  data-dismiss="modal"
                                                >
                                                  Close
                                                </button>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Employment History -->
        <div class="page-body mt-3">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Employment history</h5>
                    <i style="font-size: x-large;" class="float-right fa fa-plus-circle"></i>
                    <div class="row mt-3">
                      <div style="align-content: center;align-items: center;width: 100%;" class="mt-3">
                        {% if not request.user.devemploymenthistory_set.exists %}
                        <div class="icon-container">
                          <i id="bag" class="ti-briefcase mb-3"></i>
                        </div>
                        <h4 style="text-align: center;margin-top: 30px;">Add employment history to showcase your past work to clients</h4>
                        {% endif %}
                        {% for emp in request.user.devemploymenthistory_set.all %}
                        <div class="ml-3 mb-3">
                          <div class="mr-3">
                            <button class="btn btn-default float-right">
                              <i class="fa fa-trash mr-2"></i>
                            </button>
                            <button class="btn btn-default float-right mr-2">
                              <i class="fa fa-pencil"></i>
                            </button>
                          </div>
                          <h4>Company: {{emp.company_name|safe}}</h4>
                          <h4>Job Title: {{emp.title|safe}}</h4>
                          <h5>Location: {{emp.location|safe}}</h5> <br>
                          <h5>From: {{emp.from_month|safe}},{{emp.from_year|safe}}</h5> <br>
                          <h5>To: 
                            {% if emp.currently_working %}
                            Present
                            {% else %}
                            {{emp.to_month|safe}},{{emp.to_year|safe}}
                            {% endif %}
                          </h5> <br>
                          {% if emp.expiration %}
                          <h5>Expiration Date: {{emp.expiration|date}}</h5>
                          {% endif %}
                          <p>
                            {{emp.description.length}}
                            {{emp.description|safe|slice:':200'}}<span
                              id="dotssss{{emp.id}}"
                              >...</span
                            ><span id="moreeee{{emp.id}}"
                              >{{emp.description|safe|slice:'200:'}}</span
                            >
                            <a
                              href="javascript:void"
                              onclick="myFunction4(`{{emp.id}}`)"
                              id="myBtnnnn{{emp.id}}"
                              ><u>more</u></a
                            >
                          </p>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Certificates -->
        <div class="page-body mt-3">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Certificates</h5>
                    <i style="font-size: x-large;" class="float-right fa fa-plus-circle"></i>
                    <div class="row mt-3">
                      <div style="align-content: center;align-items: center;width: 100%;" class="mt-3">
                        {% if not request.user.devcertificates_set.exists %}
                        <div class="icon-container">
                          <i id="graduation" class="icon-graduation mb-3"></i>
                        </div>
                        <h4 style="text-align: center;margin-top: 30px;">Add certifications to highlight your best skills</h4>
                        {% endif %}
                        {% for cert in request.user.devcertificates_set.all %}
                        <div class="ml-3 mb-3">
                          <div class="mr-3">
                            <button class="btn btn-default float-right">
                              <i class="fa fa-trash mr-2"></i>
                            </button>
                            <button class="btn btn-default float-right mr-2">
                              <i class="fa fa-pencil"></i>
                            </button>
                          </div>
                          <h4>{{cert.certificate_name|safe}}
                            {% if cert.certificate_id %}
                            #ID: {{cert.certificate_id}}
                            {% endif %}
                          </h4>
                          <h4>Provider: {{cert.provider|safe}}</h4>
                          <h5>Issued Date: {{cert.issue_date|date}}</h5> <br>
                          {% if cert.expiration %}
                          <h5>Expiration Date: {{cert.expiration|date}}</h5>
                          {% endif %}
                          <p>
                            {{cert.description|safe|slice:':200'}}<span
                              id="dotsss{{cert.id}}"
                              >...</span
                            ><span id="moreee{{cert.id}}"
                              >{{cert.description|safe|slice:'200:'}}</span
                            >
                            <a
                              href="javascript:void"
                              onclick="myFunction3(`{{cert.id}}`)"
                              id="myBtnnn{{cert.id}}"
                              ><u>more</u></a
                            >
                          </p>
                          {% if cert.certificate_url %}
                          <a href="{{cert.certificate_url}}" target="_blank">View Certificate</a>
                          {% endif %}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Other Experiences -->
        <div class="page-body mt-3">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Other Experiences</h5>
                    <i data-toggle="modal" data-target="#experience-modal" style="font-size: x-large;" class="float-right fa fa-plus-circle"></i>
                    <div class="row mt-3">
                      <div style="align-content: center;align-items: center;width: 100%;" class="mt-3">
                        {% if not request.user.otherexperience_set.exists %}
                        <div class="icon-container">
                          <i id="graduation" class="icon-graduation mb-3"></i>
                        </div>
                        <h4 style="text-align: center;margin-top: 30px;">Add other experiences relating to your profession.</h4>
                        {% else %}
                        {% for exp in request.user.otherexperience_set.all %}
                        <div class="ml-3 mb-3">
                          <div class="mr-3">
                            <button data-toggle="modal" data-target="#delete-experience-modal{{exp.id}}" class="btn btn-default float-right">
                              <i data-toggle="modal" data-target="#delete-experience-modal{{exp.id}}" class="fa fa-trash mr-2"></i>
                            </button>
                            <button data-toggle="modal" data-target="#update-experience-modal{{exp.id}}" class="btn btn-default float-right mr-2">
                              <i data-toggle="modal" data-target="#update-experience-modal{{exp.id}}" class="fa fa-pencil"></i>
                            </button>
                          </div>
                          <h4>{{exp.subject.title|safe}}</h4>
                          <p>
                            {{exp.description|safe|slice:':200'}}<span
                              id="dotss{{exp.id}}"
                              >...</span
                            ><span id="moree{{exp.id}}"
                              >{{exp.description|safe|slice:'200:'}}</span
                            >
                            <a
                              href="javascript:void"
                              onclick="myFunction2(`{{exp.id}}`)"
                              id="myBtnn{{exp.id}}"
                              ><u>more</u></a
                            >
                          </p>
                        </div>

                        <!-- Update Experience Modal -->
                        <div
                        class="modal fade"
                        id="update-experience-modal{{exp.id}}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="modalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Update Experience</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                              </button>
                              </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-material">
                                    <div class="right-icon-control">
                                      <form
                                        method="POST"
                                        class="form-material"
                                        action="{% url 'update_other_experience' exp.id request.user.username %}"
                                      >
                                        {% csrf_token %}
                                        <div
                                          class="form-group form-primary"
                                        >
                                        <label for="subject">Subject</label>
                                        <input type="text" name="subject" value="{{exp.subject}}" class="form-control">
                                        </div>
                                        <div
                                          class="form-group form-primary"
                                        >
                                        <label for="description">Description</label>
                                        <textarea name="description" class="form-control" cols="" rows="2">{{exp.description}}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                          <button
                                            type="submit"
                                            class="save_btn btn btn-primary"
                                          >
                                            Save
                                          </button>
                                          <button
                                            type="button"
                                            class="btn btn-default close_btn"
                                            data-dismiss="modal"
                                          >
                                            Close
                                          </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        </div>

                        <!-- Delete Experience Modal -->
                        <div
                        class="modal fade"
                        id="delete-experience-modal{{exp.id}}"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="modalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete Experience</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                              </button>
                              </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-material">
                                    <div class="right-icon-control">
                                      <form
                                        method="POST"
                                        class="form-material"
                                        action="{% url 'delete_other_experience' exp.id request.user.username %}"
                                      >
                                        {% csrf_token %}
                                        <h5 style="text-align: center;" class="text-center">Are you sure?</h5>
                                        <div class="modal-footer">
                                          <button
                                            type="submit"
                                            class="save_btn btn btn-danger"
                                          >
                                            Sure
                                          </button>
                                          <button
                                            type="button"
                                            class="btn btn-default close_btn"
                                            data-dismiss="modal"
                                          >
                                            Close
                                          </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Other Experience Modal -->
        <div
        class="modal fade"
        id="experience-modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Other Experiences</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
              </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      <form
                        method="POST"
                        class="form-material"
                        action="{% url 'add_other_experience' request.user.username %}"
                      >
                        {% csrf_token %}
                        <div
                          class="form-group form-primary"
                        >
                        <label for="subject">Subject</label>
                        {{form.subject}}                       
                        </div>
                        <div
                          class="form-group form-primary"
                        >
                        <!-- <label for="description">Subject</label> -->
                        {{form.description}}
                        </div>
                        <div class="modal-footer">
                          <button
                            type="submit"
                            class="save_btn btn btn-primary"
                          >
                            Save
                          </button>
                          <button
                            type="button"
                            class="btn btn-default close_btn"
                            data-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>
  <!-- <div id="styleSelector"></div> -->
  <!-- </div> -->
</div>
{% block custom_js %}
<script>
 
  function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "less";
      moreText.style.display = "inline";
    }
  }

  function myFunction2(id){
    var dotss = document.getElementById("dotss"+id);
    var moreeText = document.getElementById("moree"+id);
    var btnnText = document.getElementById("myBtnn"+id);

    if (dotss.style.display === "none") {
      dotss.style.display = "inline";
      btnnText.innerHTML = "more";
      moreeText.style.display = "none";
    } else {
      dotss.style.display = "none";
      btnnText.innerHTML = "less";
      moreeText.style.display = "inline";
    }
  }

  function myFunction3(id){
    var dotsss = document.getElementById("dotsss"+id);
    var moreeeText = document.getElementById("moreee"+id);
    var btnnnText = document.getElementById("myBtnnn"+id);

    if (dotsss.style.display === "none") {
      dotsss.style.display = "inline";
      btnnnText.innerHTML = "more";
      moreeeText.style.display = "none";
    } else {
      dotsss.style.display = "none";
      btnnnText.innerHTML = "less";
      moreeeText.style.display = "inline";
    }
  }

  function myFunction4(id){
    var dotssss = document.getElementById("dotssss"+id);
    var moreeeeText = document.getElementById("moreeee"+id);
    var btnnnnText = document.getElementById("myBtnnnn"+id);

    if (dotssss.style.display === "none") {
      dotssss.style.display = "inline";
      btnnnnText.innerHTML = "more";
      moreeeeText.style.display = "none";
    } else {
      dotssss.style.display = "none";
      btnnnnText.innerHTML = "less";
      moreeeeText.style.display = "inline";
    }
  }
</script>
{% endblock custom_js %} {% endblock content %}
