{% extends 'layouts/base.html' %} {% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    {% include 'layouts/messages.html' %}
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="page-body">
            <div class="row">
              <div class="col-lg-4 col-xl-3">
                <div id="navigation">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card version">
                        <div class="card-header borderless">
                          <h5>Settings</h5>
                          <div class="card-header-right">
                            <i class="icofont icofont-navigation-menu"></i>
                          </div>
                        </div>
                        <div class="card-block">
                          <ul class="nav navigation">
                            <a href="{% url 'settings' %}">
                              {% if request.path == '/settings/' %}
                              <li style="background-color: #1D4354;color: #fff;" class="navigation-header">
                                <i class="icon-history pull-right"></i>
                                <b>Account</b>
                              </li>
                              {% else %}
                              <li class="navigation-header">
                                <i class="icon-history pull-right"></i>
                                <b>Account</b>
                              </li>
                              {% endif %}
                            </a>
                            {% if request.path == '/settings/preferences/' %}
                            <li style="background-color: #1D4354;" class="waves-effect waves-light">
                              <a style="color: #fff;" href="{% url 'preferences' %}"
                                >Preferences<span
                                  class="text-muted text-regular pull-right"
                                ></span
                              ></a>
                            </li>
                            {% else %}
                            <li class="waves-effect waves-light">
                              <a href="{% url 'preferences' %}"
                                >Preferences<span
                                  class="text-muted text-regular pull-right"
                                ></span
                              ></a>
                            </li>
                            {% endif %}
                            {% if request.path == '/settings/email-notifications/' %}
                            <li style="background-color: #1D4354;" class="waves-effect waves-light">
                              <a style="color: #fff;" href="{% url 'email_notifications' %}"
                                >Email Notifications
                                <span
                                  class="text-muted text-regular pull-right"
                                ></span
                              ></a>
                            </li>
                            {% else %}
                            <li class="waves-effect waves-light">
                              <a href="{% url 'email_notifications' %}"
                                >Email Notifications
                                <span
                                  class="text-muted text-regular pull-right"
                                ></span
                              ></a>
                            </li>
                            {% endif %}
                            <li class="navigation-divider"></li>

                            <li class="waves-effect waves-light">
                              <a href="#"
                                ><i class="fa fa-edit m-r-5"></i>
                                Edit Profile</a
                              >
                            </li>
                            {% if request.path == '/settings/social-auths/' %}
                            <li style="background-color: #1D4354;" class="waves-effect waves-light">
                              <a style="color: #fff;" href="{% url 'social_auths' %}"
                                ><i
                                  style="color: #fff;" class="fa fa-cloud m-r-5"
                                ></i>
                                Social Auths</a
                              >
                            </li>
                            {% else %}
                            <li class="waves-effect waves-light">
                              <a href="{% url 'social_auths' %}"
                                ><i
                                  class="fa fa-cloud m-r-5"
                                ></i>
                                Social Auths</a
                              >
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if request.path == '/settings/' %}
              <div class="col-lg-8 col-xl-9">
                <div class="col-sm-12">
                  <div class="card" id="v_1_2 active show">
                    <div class="card-header">
                      <h5><i class="fa fa-user"></i> Account</h5>
                    </div>
                    <div class="card-block">
                      <!-- Account Preferences -->
                      <!-- Emails -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>Emails</h5>
                            </div>
                            <div class="card-block col-md-12">
                              {% for email in request.user.emailaddress_set.all %}
                              <div class="">
                                <label class="control-label">
                                  {% if email.primary %} Primary Email: 
                                  {% else %} Secondary Email: {% endif %}
                                </label>
                                <div
                                  class="primary-email col-sm-8 col-md-7 col-lg-5"
                                >
                                  <span class="primary-email-value"
                                    >{{email}}</span
                                  >
                                  {% if email.primary %}
                                  <span class="label label-primary m-left-xs-5"
                                    >primary</span
                                  >
                                  {% else %}
                                  <span
                                    class="label label-secondary m-left-xs-5"
                                    >secondary</span
                                  >
                                  {% endif %}
                                  <a
                                    href=""
                                    title="Change primary email"
                                    class="primary-email-change text-muted m-left-xs-5 tip"
                                    data-original-title="Change your primary email"
                                    ><i class="fa fa-edit"></i
                                  ></a>
                                </div>
                              </div>
                              <br />
                              {% endfor %}
                              <p
                                class="m-0 hidden"
                                style="color: #fff; cursor: default"
                              >
                                2.Cras consequat in enim ut efficitur. Nulla
                                posuere elit quis auctor interdum praesent sit
                                amet nulla vel enim amet. Donec convallis tellus
                                neque, et imperdiet felis amet.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Change password -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>Change Password</h5>
                            </div>
                            <div class="card-block col-md-12">
                              <div class="">
                                <form
                                  method="POST"
                                  action="{% url 'change_password' request.user.id %}"
                                  class="form-horizontal change-password m-top-xs-5 m-bottom-xs-5"
                                >
                                  {% csrf_token %}
                                  <div class="form-group">
                                    <label
                                      class="col-sm-4 col-md-3 col-lg-2 control-label"
                                      >Current:</label
                                    >
                                    <div class="col-sm-8 col-md-7 col-lg-5">
                                      <input
                                        required
                                        class="form-control"
                                        type="password"
                                        name="current_password"
                                        placeholder="Your Current Password"
                                        maxlength="200"
                                        autocomplete="off"
                                      />
                                      <div
                                        id="flash-current_password"
                                        class="text-danger"
                                      ></div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label
                                      class="col-sm-4 col-md-3 col-lg-2 control-label"
                                      >New:</label
                                    >
                                    <div class="col-sm-8 col-md-7 col-lg-5">
                                      <input
                                        required
                                        class="form-control"
                                        type="password"
                                        name="new_password"
                                        placeholder="Your New Password"
                                        maxlength="200"
                                        autocomplete="off"
                                        aria-autocomplete="list"
                                      />
                                      <div
                                        id="flash-new_password"
                                        class="text-danger"
                                      ></div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label
                                      class="col-sm-4 col-md-3 col-lg-2 control-label"
                                      >Again:</label
                                    >
                                    <div class="col-sm-8 col-md-7 col-lg-5">
                                      <input
                                        required
                                        class="form-control"
                                        type="password"
                                        name="new_password2"
                                        placeholder="Repeat Your Password"
                                        maxlength="200"
                                        autocomplete="off"
                                      />
                                      <div
                                        id="flash-new_password2"
                                        class="text-danger"
                                      ></div>
                                    </div>
                                  </div>
                                  <div
                                    class="form-group p-top-xs-5 m-bottom-xs-0"
                                  >
                                    <div
                                      class="col-sm-4 col-md-3 col-lg-3 col-sm-offset-4 col-md-offset-3 col-lg-offset-2"
                                    >
                                      <button
                                        type="submit"
                                        class="btn btn-primary"
                                        data-loading-text="Updating…"
                                      >
                                        Change password
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <br />
                              <p
                                class="m-0 hidden"
                                style="color: #fff; cursor: default"
                              >
                                2.Cras consequat in enim ut efficitur. Nulla
                                posuere elit quis auctor interdum praesent sit
                                amet nulla vel enim amet. Donec convallis tellus
                                neque, et imperdiet felis amet.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Security Events -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>Security Events</h5>
                            </div>
                            <div class="card-block col-md-12">
                              <div class="table-responsive">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th>Event</th>
                                      <th>Time</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>changed settings</td>
                                      <td>
                                        1 day ago
                                        <i
                                          title="Chrome near Dar es Salaam"
                                          class="fa fa-exclamation-circle"
                                        ></i>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <br />
                              <p
                                class="m-0 hidden"
                                style="color: #fff; cursor: default"
                              >
                                2.Cras consequat in enim ut efficitur. Nulla
                                posuere elit quis auctor interdum praesent sit
                                amet nulla vel enim amet. Donec convallis tellus
                                neque, et imperdiet felis amet.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Delete Account -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">
                              <h5>Delete Account</h5>
                            </div>
                            <div class="card-block col-md-12">
                              <div class="panel-body ml-3">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <a
                                      data-toggle="modal"
                                      data-target="#flipFlop"
                                      href="javascript:void(0)"
                                      class="btn btn-danger"
                                      >Delete account</a
                                    >
                                    <span
                                      class="text-muted m-top-xs-10 m-left-md-20 small show-xs-ib ml-3"
                                      >Warning: Your activities cannot be
                                      recovered after deleting your
                                      account.</span
                                    >
                                  </div>
                                  <div
                                    class="modal fade"
                                    id="flipFlop"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="modalLabel"
                                    aria-hidden="true"
                                  >
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4
                                            class="modal-title"
                                            id="modalLabel"
                                          >
                                            Delete Account
                                          </h4>
                                          <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"
                                          >
                                            <span aria-hidden="true">×</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <div class="form-material">
                                                <div class="right-icon-control">
                                                  <form
                                                    method="POST"
                                                    class="form-material"
                                                    action="{% url 'delete_account' request.user.id %}"
                                                  >
                                                    {% csrf_token %}
                                                    <div
                                                      class="form-group form-primary"
                                                    >
                                                      <h5
                                                        style="
                                                          text-align: center;
                                                        "
                                                      >
                                                        Are you sure you want to
                                                        delete your account?
                                                      </h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button
                                                        type="submit"
                                                        class="save_btn btn btn-danger"
                                                      >
                                                        Sure
                                                      </button>
                                                      <button
                                                        type="button"
                                                        class="btn btn-default close_btn"
                                                        data-dismiss="modal"
                                                      >
                                                        Close
                                                      </button>
                                                    </div>
                                                  </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <p
                                class="m-0 hidden"
                                style="color: #fff; cursor: default"
                              >
                                2.Cras consequat in enim ut efficitur. Nulla
                                posuere elit quis auctor interdum praesent sit
                                amet nulla vel enim amet. Donec convallis tellus
                                neque, et imperdiet felis amet.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% elif request.path == '/settings/social-auths/' %}
              <div class="col-lg-8 col-xl-9">
                <div class="col-sm-12">
                  <div class="card" id="v_1_2 active show">
                    <div class="card-header">
                      <h5><i class="fa fa-cloud"></i> Social Auths</h5>
                    </div>
                    <div class="card-block">
                      <!-- Social Auths -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          {% if github_login %}
                          <div class="col-xs-12">
                            <label
                              class="col-sm-4 col-md-3 col-lg-2 control-label"
                              >GitHub Login:
                              <i
                                class="fa fa-question-circle tip"
                                title=""
                                data-original-title="Your GitHub integration can be used to login."
                              ></i
                            ></label>
                            <div class="">
                              <div class="block-hover-parent">
                                <div class="ml-3">
                                  Connected as:
                                  <span class="text-muted"
                                    ><a
                                      href="https://github.com/{{ github_login.extra_data.login }}/"
                                      target="_blank"
                                      >{{ github_login.extra_data.login }}</a
                                    ></span
                                  >
                                  {% if can_disconnect %}
                                  <form
                                    method="post"
                                    action="{% url 'social:disconnect' 'github' %}"
                                  >
                                    {% csrf_token %}
                                    <button type="submit">
                                      Disconnect from GitHub
                                    </button>
                                  </form>
                                  {% else %}
                                  <button type="button" disabled>
                                    Disconnect from GitHub
                                  </button>
                                  <p style="color: red">
                                    You must
                                    <a href="{% url 'password' %}"
                                      >define a password</a
                                    >
                                    for your account before disconnecting from
                                    Github.
                                  </p>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                          {% else %}
                          <a href="{% url 'social:begin' 'github' %}"
                            >Connect with GitHub</a
                          >
                          {% endif %} {% if facebook_login %}
                          <div class="col-xs-12">
                            <label
                              class="col-sm-4 col-md-3 col-lg-2 control-label"
                              >Facebook Login:
                              <i
                                class="fa fa-question-circle tip"
                                title=""
                                data-original-title="Your GitHub integration can be used to login."
                              ></i
                            ></label>
                            <div class="">
                              <div class="block-hover-parent">
                                <div class="ml-3">
                                  Connected as:
                                  <span class="text-muted"
                                    ><a
                                      href="https://facebook.com/{{ facebook_login.extra_data.id }}/"
                                      target="_blank"
                                    >
                                      {{ facebook_login.extra_data.id }}
                                    </a></span
                                  >
                                  {% if can_disconnect %}
                                  <form
                                    method="post"
                                    action="{% url 'social:disconnect' 'facebook' %}"
                                  >
                                    {% csrf_token %}
                                    <button type="submit">
                                      Disconnect from Facebook
                                    </button>
                                  </form>
                                  {% else %}
                                  <button type="button" disabled>
                                    Disconnect from Facebook
                                  </button>
                                  <p style="color: red">
                                    You must
                                    <a href="{% url 'password' %}"
                                      >define a password</a
                                    >
                                    for your account before disconnecting from
                                    Facebook.
                                  </p>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                          {% else %} <br />
                          <a href="{% url 'social:begin' 'facebook' %}"
                            >Connect with Facebook</a
                          >
                          {% endif %} {% if twitter_login %}
                          <div class="col-xs-12">
                            <label
                              class="col-sm-4 col-md-3 col-lg-2 control-label"
                              >Twitter Login:
                              <i
                                class="fa fa-question-circle tip"
                                title=""
                                data-original-title="Your GitHub integration can be used to login."
                              ></i
                            ></label>
                            <div class="">
                              <div class="block-hover-parent">
                                <div class="ml-3">
                                  Connected as:
                                  <span class="text-muted"
                                    ><a
                                      href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/"
                                      target="_blank"
                                    >
                                      @{{twitter_login.extra_data.access_token.screen_name}}
                                    </a></span
                                  >
                                  {% if can_disconnect %}
                                  <form
                                    method="post"
                                    action="{% url 'social:disconnect' 'twitter' %}"
                                  >
                                    {% csrf_token %}
                                    <button type="submit">
                                      Disconnect from Twitter
                                    </button>
                                  </form>
                                  {% else %}
                                  <button type="button" disabled>
                                    Disconnect from Twitter
                                  </button>
                                  <p style="color: red">
                                    You must
                                    <a href="{% url 'password' %}"
                                      >define a password</a
                                    >
                                    for your account before disconnecting from
                                    Twitter.
                                  </p>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                          {% else %} <br />
                          <a href="{% url 'social:begin' 'twitter' %}"
                            >Connect with Twitter</a
                          >
                          {% endif %}
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% elif request.path == '/settings/preferences/' %}
              <div class="col-lg-8 col-xl-9">
                <div class="col-sm-12">
                  <div class="card" id="v_1_2 active show">
                    <div class="card-header">
                      <h5><i class="fa fa-cogs"></i> Public Preferences</h5>
                    </div>
                    <div class="card-block">
                      <!-- Preferences -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-block col-md-12">
                              <form method="POST" action="{% url 'save_dev_preference' request.user.id %}">
                                  {% csrf_token %}
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Show Both Primary &amp; Secomdary Emails</label>
                                    <div class="col-sm-10">
                                      {% if request.user.publicpreference.both_emails %}
                                      <input type="checkbox" checked class="js-single js-switch" name="emails">
                                      {% else %}
                                      <input type="checkbox" class="js-single js-switch" name="emails">
                                      {% endif %}
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Hireable Tag</label>
                                    <div class="col-sm-10">
                                      {% if request.user.publicpreference.hireable %}
                                      <input type="checkbox" checked class="js-single js-switch" name="hireable">
                                      {% else %}
                                      <input type="checkbox" class="js-single js-switch" name="hireable">
                                      {% endif %}
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Show Bio</label>
                                    <div class="col-sm-10">
                                      {% if request.user.publicpreference.bio %}
                                      <input type="checkbox" checked class="js-single js-switch" name="bio">
                                      {% else %}
                                      <input type="checkbox" class="js-single js-switch" name="bio">
                                      {% endif %}
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Show Phone Number</label>
                                    <div class="col-sm-10">
                                      {% if request.user.publicpreference.phone %}
                                      <input type="checkbox" checked class="js-single js-switch" name="phone">
                                      {% else %}
                                      <input type="checkbox" class="js-single js-switch" name="phone">
                                      {% endif %}
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Show Gender</label>
                                    <div class="col-sm-10">
                                      {% if request.user.publicpreference.gender %}
                                      <input type="checkbox" checked class="js-single js-switch" name="gender">
                                      {% else %}
                                      <input type="checkbox" class="js-single js-switch" name="gender">
                                      {% endif %}
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% elif request.path == '/settings/email-notifications/' %}
              <div class="col-lg-8 col-xl-9">
                <div class="col-sm-12">
                  <div class="card" id="v_1_2 active show">
                    <div class="card-header">
                      <h5><i class="fa fa-envelope"></i> Email Preferences</h5>
                    </div>
                    <div class="card-block">
                      <!-- Email Preferences -->
                      <div class="row" style="width: 100%">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-block col-md-12">
                              <form method="POST" action="{% url 'save_email_preference' request.user.id %}">
                                  {% csrf_token %}
                                  <table class="table table-hover table-no-heading m-bottom-xs-0">
                                      <tr>
                                        <td>
                                          <div class="row">
                                            <div class="col-xs-12 center-xs col-sm-5 col-md-4 col-lg-3 left-sm">
                                              {% if request.user.emailpreference.logins %}
                                              <input type="checkbox" class="toggle" name="logins" checked/>
                                              {% else %}
                                              <input type="checkbox" class="toggle" name="logins"/>
                                              {% endif %}
                                              <span class="mailing_list-name p-left-md-10">Logins</span>
                                            </div>
                                            <div class="col-xs-12 center-xs col-sm-7 col-md-8 col-lg-9 left-sm">
                                              <span class="mailing_list-description text-muted">
                                                Email notification whenever you login, for peace of mind.
                                              </span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="row">
                                            <div class="col-xs-12 center-xs col-sm-5 col-md-4 col-lg-3 left-sm">
                                              {% if request.user.emailpreference.updates %}
                                              <input type="checkbox" class="toggle" checked name="updates"/>
                                              {% else %}
                                              <input type="checkbox" class="toggle" name="updates"/>
                                              {% endif %}
                                              <span class="mailing_list-name p-left-md-10">Updates</span>
                                            </div>
                                            <div class="col-xs-12 center-xs col-sm-7 col-md-8 col-lg-9 left-sm">
                                              <span class="mailing_list-description text-muted">
                                                New features and blog updates.
                                              </span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="row">
                                            <div class="col-xs-12 center-xs col-sm-5 col-md-4 col-lg-3 left-sm">
                                              {% if request.user.emailpreference.messages %}
                                              <input type="checkbox" class="toggle" checked name="messages"/>
                                              {% else %}
                                              <input type="checkbox" class="toggle" name="messages"/>
                                              {% endif %}
                                              <span class="mailing_list-name p-left-md-10">Messages</span>
                                            </div>
                                            <div class="col-xs-12 center-xs col-sm-7 col-md-8 col-lg-9 left-sm">
                                              <span class="mailing_list-description text-muted">
                                                Email notification whenever a Dev send a message
                                              </span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                  </table>
                                  <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div id="styleSelector"></div>
    </div>
    <div id="styleSelector"></div>
  </div>
</div>
{% endblock %}
